PORT=3000
DB_USERNAME=postgres
DB_PASSWORD=xxxxxxx
DB_NAME=casbin_rules
DB_HOST=localhost
DB_DIALECT=postgres
ENFORCER_MODEL_PATH=config/model.conf
LOG_LEVEL=info
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
